# VeloraOS session
wallpaper=2
taskbarH=48
rounding=36
taskbarOpacity=0.38
uiScale=0.96
language=0
animations=1
blurDock=1
accentFromWallpaper=1
vsync=1
showFps=1
notifEnabled=1
pin=settings
pin=files
pin=terminal
pin=calculator
pin=clor
pin=system
desk=calculator,1,1
desk=clock,1,2
desk=clor,1,3
desk=files,1,4
desk=gallery,1,5
desk=hello_python,1,6
desk=logs,1,7
desk=notes,1,8
desk=settings,1,9
desk=system,1,10
